#background {
    background-color: #56667A;
}

#profile {}

#details {
    border-width: 2px;
    border-style: solid;
}

#repos {
    background-color: #273043;
}

#reposList {
    max-height: 200px;
    overflow-y: scroll;
}

#commits {
    background-color: #273043;
}

#commitsList {
    max-height: 200px;
    overflow-y: scroll;
}

#repos h1 {
    max-width: 100%;
    color: white;
}

#commits h1 {
    max-width: 100%;
    color: white;
}

#stars {
    background-color: #273043;
}

#starsList {
    max-height: 200px;
    overflow-y: scroll;
}

#stars h1 {
    max-width: 100%;
    color: white;
}

#repoItem {
    text-align: center;
    max-width: 100%;
}

#repoItem button {
    text-align: center;
    background-color: #6E7E85;
}

#commitsItem button {
    text-align: center;
    background-color: #6E7E85;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.btn a {
    color: white;
}